.data-box {
  width: 100%;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
  padding: 0.75rem;
  cursor: pointer;
  transition: all 300ms;
}

.data-box__img-container {
  width: 100%;
}

.page-ref {
  font-size: 0.75rem;
  font-weight: bold;
  font-style: italic;
  color: #707070;
}

.source-name {
  font-weight: bold;
}

.data-box-img {
  display: inline-block;
  width: 100%;
}
