.container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.results-text {
  margin-left: 10%;
  font-weight: bold;
}

.loading-spinner-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .loading-spinner {
  width: 300px;
} */
