.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.results-text {
  margin-left: 10%;
  font-weight: bold;
}
